# generic Linux dns
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('dns', 'DNS Servers', [{'description': 'DNS', 'check_command': 'check_dns', 'use': 'local-service'}]) }}
