# generic Linux dns
define hostgroup {
	hostgroup_name dns
        alias DNS Servers
}

{% for host in groups['dns'] %}
{% if hostvars[host].ansible_os_family == "RedHat" %}
define host {
	use                     linux-server
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups              dns
}

define service {
	use                    local-service
	host_name              {{ host }}
    hostgroup_name		   dns
	service_description	   DNS
	check_command		   check_dns
	notifications_enabled  1
}

define service {
	use                     local-service
	host_name               {{ host }}
    hostgroup_name		    dns
	service_description	    SSH
	check_command		    check_ssh
	notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     PING
    check_command           check_ping!200.0,20%!600.0,60%
    notifications_enabled   1
}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     CPU Load
    check_command           check_nrpe!check_load
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Total Processes
    check_command           check_nrpe!check_total_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Zombie Processes
    check_command           check_nrpe!check_zombie_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Current Users
    check_command           check_nrpe!check_users
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Disk Check
    check_command           check_nrpe!check_root
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Check Swap
    check_command           check_nrpe!check_swap
    notifications_enabled   1
}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Uptime
    check_command           check_nrpe!check_uptime
    notifications_enabled   1
}

{% endif %}

{% if hostvars[host].ansible_distribution == "FreeBSD" %}

define host {
    use                     linux-server
    host_name               {{ host }}
    alias                   {{ host }}
    address                 {{ hostvars[host].ansible_default_ipv4.address }}
    hostgroups              dns
}

define service {
	use                     local-service
	host_name               {{ host }}
    hostgroup_name		    dns
	service_description	    DNS
	check_command		    check_dns
	notifications_enabled   1
}

define service {
	use			            local-service
	host_name               {{ host }}
    hostgroup_name		    dns
	service_description	    SSH
	check_command		    check_ssh
	notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     PING
    check_command           check_ping!200.0,20%!600.0,60%
    notifications_enabled   1
}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     CPU Load
    check_command           check_nrpe!bsd_check_load
    notifications_enabled   1

}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Total Processes
    check_command           check_nrpe!bsd_check_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Check Swap
    check_command           check_nrpe!bsd_check_swap
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Current Users
    check_command           check_nrpe!bsd_check_users
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Disk Check
    check_command           check_nrpe!bsd_check_disk
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Uptime
    check_command           check_nrpe!bsd_check_uptime
    notifications_enabled   1
}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          dns
    service_description     Zombie Processes
    check_command           check_nrpe!bsd_check_zombie_procs
    notifications_enabled   1
}

{% endif %}
{% endfor %}
