# generic Linux dns with mdadm raid
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('dns_with_mdadm_raid', 'Linux DNS Servers', [
     {'description': 'DNS', 'check_command': 'check_dns', 'use': 'local-service'},
     {'description': 'RAID Check', 'check_command': 'check_nrpe!check_raid'},
   ]) }}
