# Elasticsearch Servers
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('elasticsearch', 'Elasticsearch Servers', [{'description': 'Elasticsearch', 'check_command': 'check_nrpe!check_tcp_es'}]) }}
