# ELK stack servers
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('elkservers', 'ELK Servers', [
     {'description': 'Kibana', 'check_command': 'check_elk_http', 'use': 'local-service'},
     {'description': 'Elasticsearch', 'check_command': 'check_nrpe!check_tcp_es'},
   ]) }}
