username {{ supermicro_ipmi_user }}
password {{ supermicro_ipmi_pass }}
privilege-level {{ supermicro_priv_level }}
ipmimonitoring-legacy-output {{enable_legacy_output}}
ipmi-sensors-interpret-oem-data {{enable_oem_data}}
ipmi-sensors-ignore-unrecognized-events {{disable_unrecognized_events}}
ipmi-sensors-workaround-flags {{enable_workaround_flags}}
