# jenkins CI server, typically runs on 80 and 443
{% from 'monitored_hosts.j2' import render_group with context %}
{% set extras = [{'description': 'HTTP', 'check_command': 'check_jenkins_http', 'use': 'local-service'}] if jenkins_uses_proxy else [] %}
{{ render_group('jenkins', 'Jenkins Servers', extras) }}
