# SAMPLE CONFIG SNIPPETS FOR APACHE WEB SERVER
#
# This file contains examples of entries that need
# to be incorporated into your Apache web server
# configuration file.  Customize the paths, etc. as
# needed to fit your system.

###
RewriteEngine On
# redirect HTTP to HTTPS
{% if ansible_os_family == "Debian" %}
RewriteRule ^/$ https://%{HTTP_HOST}/nagios4/$1 [R=301,L]
RewriteRule ^(nagios4/.*)$ https://%{HTTP_HOST}$1 [R=301,L]
{% else %}
RewriteRule ^/$ https://%{HTTP_HOST}/nagios/$1 [R=301,L]
RewriteRule ^(nagios/.*)$ https://%{HTTP_HOST}$1 [R=301,L]
{% endif %}

{% if ansible_os_family == "RedHat" %}
ScriptAlias /nagios/cgi-bin/ "/usr/lib64/nagios/cgi-bin/"

<Directory "/usr/lib64/nagios/cgi-bin/">
{% elif ansible_os_family == "Debian" %}
ScriptAlias /nagios4/cgi-bin/ /usr/lib/cgi-bin/nagios4/

<Directory "/usr/lib/cgi-bin/nagios4/">
{% endif %}
   SSLRequireSSL
   Options ExecCGI
   AllowOverride None

   AuthName "Nagios Access"
   AuthType Basic
   AuthUserFile {{ passwd_file }}

   <IfModule mod_authz_core.c>
      # Apache 2.4
      # Require local
      Require valid-user
   </IfModule>
   <IfModule !mod_authz_core.c>
      # Apache 2.2
      Order allow,deny
      Allow from all
      #  Order deny,allow
      #  Deny from all
      #  Allow from 127.0.0.1
      Require valid-user
   </IfModule>
</Directory>

# use an alias for nagios
{% if ansible_os_family == "RedHat" %}
Alias /nagios "/usr/share/nagios/html"

<Directory "/usr/share/nagios/html">
{% elif ansible_os_family == "Debian" %}
Alias /nagios4/stylesheets /etc/nagios4/stylesheets
Alias /nagios4 /usr/share/nagios4/htdocs

<Directory "/usr/share/nagios4/htdocs">
{% endif %}
   SSLRequireSSL
   Options None
   AllowOverride None

   AuthName "Nagios Access"
   AuthType Basic
   AuthUserFile {{ passwd_file }}

   <IfModule mod_authz_core.c>
      # Apache 2.4
      # Require local
      Require valid-user
   </IfModule>
   <IfModule !mod_authz_core.c>
      # Apache 2.2
      Order allow,deny
      Allow from all
      #  Order deny,allow
      #  Deny from all
      #  Allow from 127.0.0.1
      Require valid-user
   </IfModule>
</Directory>
