# generic QUADS quads_servers
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('quads_servers', 'QUADS Servers', [{'description': 'Unvalidated Assignments', 'check_command': 'quads_check_assignment', 'use': 'local-service'}]) }}
