# generic Linux servers with an mdadm raid array
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('servers_with_mdadm_raid', 'Linux Servers', [{'description': 'RAID Check', 'check_command': 'check_nrpe!check_raid'}]) }}
