# generic Linux servers
define hostgroup {
	hostgroup_name servers
        alias Linux Servers
}

{% for host in groups['servers'] %}
define host {
	use                     linux-server
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		        servers
}
{% endfor %}

# service checks to be applied to the web server
define service {
	use				            local-service
	hostgroup_name			    servers
	service_description	        SSH
	check_command			    check_ssh
	notifications_enabled		1
}
define service {
    use                         generic-service
    hostgroup_name              servers
    service_description         PING
    check_command               check_ping!200.0,20%!600.0,60%
    notifications_enabled       1
}

