# Supermicro IPMI interface checks
define hostgroup {
	hostgroup_name supermicro
    alias Supermicro IPMI
}

{% for host in groups['supermicro'] %}
define host {
	use                     linux-server
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_host }}
	hostgroups 		        supermicro
    _ipmi_ip                {{ hostvars[host].ansible_host }}
}
{% endfor %}

# service checks to be applied to Supermicro IPMI interfaces

{% if check_smc_cpu == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server CPU
	check_command		   check_smc_cpu!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}

{% if check_smc_mem == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server MEM
	check_command		   check_smc_mem!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}

{% if check_smc_disk == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server Disk
	check_command		   check_smc_disk!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}

{% if check_smc_psu == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server PSU
	check_command		   check_smc_psu!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}

{% if check_smc_voltage == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server Voltage
	check_command		   check_smc_voltage!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}

{% if check_smc_temp == true %}

define service {
	use	                   generic-service
	hostgroup_name		   supermicro
	service_description	   SMC Server Temp
	check_command		   check_smc_temp!{{supermicro_ipmicfg_path}}/ipmi.cfg
	notifications_enabled  1
    check_interval         30
}

{% endif %}
