# ICMP and ssh checks of switches
define hostgroup {
	hostgroup_name switches
        alias Network Switches
}

{% for host in groups['switches'] %}
define host {
	use                     generic-switch
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		        switches
}
{% endfor %}

# service checks to be applied to oob interfaces
define service {
	use				            generic-service
	hostgroup_name			    switches
	service_description	        switch-ssh
	check_command			    check_ssh
	notifications_enabled		1
}

define service {
	use				            generic-service
	hostgroup_name			    switches
	service_description	        switch-ping
	check_command			    check_ping!100.0,20%!500.0,60%
	notifications_enabled		1
}

