# role for checking SSL certificate validity
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('webservers_with_ssl', 'SSL Web Servers', [
     {'description': 'HTTP', 'check_command': 'check_http', 'use': 'local-service'},
     {'description': 'SSL Certificate', 'check_command': 'check_ssl_cert', 'use': 'local-service'},
   ]) }}
