# generic web services
{% from 'monitored_hosts.j2' import render_group with context %}
{{ render_group('webservers', 'Web Servers', [{'description': 'HTTP', 'check_command': 'check_http', 'use': 'local-service'}]) }}
